.container {
    font-size: 16px;
    margin: 0 auto;
    max-width: 1024px;

}

.image {
    max-width: 100%;
    height: auto;
}


.progress-container {
    width: 100%;
    height: 20px;
    background-color: #857272;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 10px;
}

.progress-bar {
    height: 100%;
    background-color: #007bff;
}

.button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}


.submit-button {
    margin-left: 20px;
    background-color: #28a745;
}


.delete-button {
    background-color: #dc3545; 
}


.upload-button {
    background-color: #ffc107; 
}

.input-file {
    display: none; 
}


.custom-input-container {
    display: inline-block;
    position: relative;
    margin-right: 10px;
}


.custom-input-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}


.custom-input-button:hover {
    background-color: #0056b3;
}

@media only screen and (max-width: 600px) {
    .submit-button {
        margin-top: 20px;
    }
}
