.container {
    background-color: #ffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .options {
    display: flex;
    justify-content: center;
  }
  
  .option {
    cursor: pointer;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #007bff;
    color: #ffffff86;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .option:hover {
    background-color: #0056b3;
    
  }
  